Q1. How do you comment code in Python? What are the different types of comments?
Q2. What are variables in Python? How do you declare and assign values to variables?
Q3. How do you convert one data type to another in Python?
Q4. How do you write and execute a Python script from the command line?
Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].
Q6. What is a complex number in mathematics, and how is it represented in Python?
Q7. What is the correct way to declare a variable named age and assign the value 25 to it?
Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?
Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?
Q10. Given the string "Hello, World!", extract the substring "World".
Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

Q1. How do you comment code in Python? What are the different types of comments?

There are two way to write the comment in python 
1. Single line Comment ==> comment the single line using #
Ex- #this is a comment 
2. Multi Line Comment ==> When we need to comment multiline at a time then we go for that and using """ This is comment """ or ''''This is also a comment'''
Ex- '''
My Name is
Madhusudan Prajapati
Whats about you
'''

Q2. What are variables in Python? How do you declare and assign values to variables?

Variable ==> Variable is a name that hold the memory location for storing the values
for declaring a variable only give any name which is not start with number and does not contain any special character expect that (_)
Ex- a=10
    name ="Madhu"

Q3. How do you convert one data type to another in Python?

In Python maney function which is use for converting data types 
Ex - int(),float(),str() etc.
a=100
a=float(a)
a=str(a)

Q4. How do you write and execute a Python script from the command line?

First go to command line and change the path where your code is save (Save the file like test.py) and write the bellow command :
    Python test.py  and hit the enter

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [2]:
my_list = [1, 2, 3, 4, 5]
sub_list=my_list[1:3]
sub_list

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex Number ==> complex number in math is used to represent the number which lies on plane in other word we can say that 
complex number is lies in axis like (X,Y).  X axis represent the real part and y axis represent the imagenary part (x+yi)
Ex- 5 + 6i

In Python Complex number represented like we use j in place of i
Ex- 5+6j

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [4]:
age=25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

price=9.99
variable data type is float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [4]:
name='Madhusudan Prajapati'
print(name)

Madhusudan Prajapati

Q10. Given the string "Hello, World!", extract the substring "World".

In [11]:
s="Hello, World!"
s[-7:-1]

' World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [3]:
is_student=True
is_student=False
True indicate that you are student and false indicate that you are not student